header,footer {
    padding-left:24px;
    padding-right:24px;
}
header {
    font-size:20px;
    display:flex;
    margin-top:88.5px;
    margin-bottom:89.5px;
}
nav ul {
    list-style-type:circle;
    margin-right:36px;
}
nav {
    margin-left:26px;
    display:flex;
    margin-right:184px;
}
ul {
    font-size:18.4px;
    display:flex;
    margin-right:18px;
    margin-top:47px;
}
.header-info-wrapper {
    font-size:18.4px;
    margin-top:6px;
}
.header__link-inactive {
    text-decoration: none;
}
.header__link-active {
    text-underline-offset: 4px;
}
.header-info-links-wrapper {
    margin-bottom:4px;
}
#header-info-wrapper-phone-num {
    letter-spacing:-0.2px;
}
.header-info-text-wrapper p:first-child {
    margin-bottom:3px;
}
#li-first {
    list-style-type:none;
    margin-right: 30px;
}
#li-second {
    margin-right:27px;
    padding-left:2.5px;
    letter-spacing:0.7px;
    word-spacing:-3.8px;
    font-size:17.4px;
}
#li-third {
    margin-left:3px;
    letter-spacing:0.7px;
    word-spacing:-1.5px;
    font-size:17.4px;
}
#header-logo {
    height:105px;
    width:148px;
    margin-top:5px;
}
.jambotron {
    position:relative;
    background:url('../images/cover.jpg');
    height:757px;
    width:1100px;
    background-size: cover;
    display:flex;
    flex-direction:column;
    color:white;
    z-index:0;
    margin-bottom:180.5px;
    padding-left:50px;
    padding-right:50px;
}
.jambotron:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 2;
}
.inner-jambotron {
    position: relative;
    z-index: 3;
  }
.title-wrapper {
    font-weight:bold;
    font-size:100px;
    display:flex;
    flex-direction:column;
    height:355px;
    letter-spacing:20px;
    padding-top:4px;
    margin-top:163px;
    margin-bottom:137.5px;
}
.ono {
    letter-spacing: 30px;
    margin-bottom:12px;
}
.o {
    margin-left:30px;
}
.e {
    margin-left:20px;
}
.tebe {
    margin-left:285px;
    letter-spacing: 30px;
}
.nado {
    margin-left:584px;
    margin-top:4px;
    letter-spacing:30px;
}
.n {
    margin-right:30px;
}
.subtitle-wrapper {
    font-size:21px;
    display:flex;
    justify-self:flex-end;
    align-items: center;
    margin-left:29px;
}
.subtitle-p {
    letter-spacing:1px;
    word-spacing:17px;
}
.subtitle-p-2 {
    margin-left:-4px;
    word-spacing:20px;
}
.subtitle-link-wrapper {
    height:51px;
    width:256px;
    padding: 12 32 11 31;
    display:flex;
    padding-top:12px;
    padding-left:32px;
    letter-spacing:1px;
    word-spacing:-2px;
    border:1px solid white;
    margin-left:79px;
}
.subtitle-link {
    text-decoration:none;
}
.lots-wrapper {
    margin-bottom:147px;
    margin-left:24.5px;
}
.lots-header {
    font-size:40px;
    font-weight:bold;
    margin-left:40px;
    margin-bottom:27px;
}
.cards-wrapper {
    display:flex;
    margin-bottom:30px;
}
.lot-card {
    position:relative;
    width: 334px;
    height:563px;
    color:white;
    display:flex;
    margin-right:24px;
    flex-direction:column;
    justify-content:space-between;
    background-position: center;
    background-size:545px;
}
/*.lot-card::before{
    content: '';
	width: 334px;
    height:563px;
	position: absolute;
	background-color:rgba(0, 0, 0, .5);
    padding: 51px 40px 48px 40px;
}*/
.inner-card {
    position:absolute;
    width: 100%;
    height:100%;
    color:white;
    display:flex;
    flex-direction:column;
}
.inner-card::before {
    content: '';
	width: 100%;
    height:100%;
	position: absolute;
	background-color:rgba(0, 0, 0, .5);
}
.lot-card-header {
    font-size:21.7px;
    position:relative;
    z-index:10;
    line-height: 25.9px;
    margin-left:40px;
    margin-right:40px;
    margin-top:52px;
    text-transform:uppercase;
}
.lot-card-paragraph {
    font-size:20.9px;
    z-index:10;
    margin-bottom:48px;
    margin-right:30px;
    margin-left:40px;
}
#about-producer {
    background-image:url('../images/card-lot-01.jpg');
}
#about-producer .lot-card-header {
    margin-bottom:243px;
}
#about-the-book {
    background-image:url('../images/card-lot-02.jpg')
}
#about-the-picture {
    background-image:url('../images/card-lot-03.jpg')
}
#about-the-picture .lot-card-header {
    margin-bottom:96px;
}
.see-more {
    font-size:21px;
    margin-left:40px;
}
.about-auction {
    display:flex;
    margin-bottom:180px;
    padding-left:70px;
}
.content-wrapper {
    width:693px;
    margin-top:136px;
    margin-left:73px;
}
.content-wrapper p {
    font-size:21.5px;
}
.logo-wrapper {
    margin-top:35px;
    background-color: black;
    width:240px;
    height:240px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.logo-in-round {
    height:114px;
}
.content-header {
    font-size:40px;
    margin-bottom:100px;
    word-spacing:-5px;
}
#first-paragraph {
    margin-bottom:21px;
}
footer {
    display:flex;
    justify-content: space-between;
}
.footer-nav {
    display:flex;
    flex-direction: column;
    align-items:center;
}
.links-wrapper {
    display:flex;
    gap:48px;
}
.footer-icon {
    width:48px;
    height:48px;
}